
@{
    ViewBag.Title = "ListaUsuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListaUsuarios</h2>
<div class="container">
    

    

</div>






<table class="table table-borderless">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody id="idtablausu">
    </tbody>
</table>

@*<div class="container">
    @foreach (var lista in ViewBag.li)
    {
        <div class="card">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>@lista.cUsuNombre + " " +@lista.cUsuApellido</p>
                    <footer class="blockquote-footer"><cite title="Source Title">@lista.cRolNombre</cite></footer>
                </blockquote>
            </div>
        </div>
    }

</div>*@
